.profile__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .profile__info {
    flex-direction: column;
    width: 282px;
  }
}
