.profile__add-button {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  background-image: url(../../../images/AddButton2.svg);
  width: 150px;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    background-image: url(../../../images/AddButton.svg);
    width: 282px;
    margin: 36px auto 0;
  }
}
