.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 880px;
  height: 72px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 890px) {
  .header {
    padding: 0 0 0 27px;
  }
}
